

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title>index</title>
<link href="http://dev.zioyou.com/FlowErp/form/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel='stylesheet' id='font-awesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
<link rel="stylesheet" type="text/css" href="http://dev.zioyou.com/FlowErp/form/assets/css/main.css" />
</head>



<body>

<div class="docHeadNav">
	<div class="wrap">
		<p>※ 익스플로러7이하에서는 인쇄가 제대로 되지 않을 수 있습니다.</p>
		<p>※ 배경 및 색상인쇄가 안될경우 옵션>배경 및 이미지를 체크하세요.</p>
		<span class="button L1 D2 icon" onclick="window.print();"><span class="ico_system printer2"></span><a>인쇄하기</a></span>
	</div>
</div>
<div class="billWrapper">
	<div class="lSide"></div>
	<div class="mSide">
		<table class="billDetail">
			<colgroup>
				<col width="50%"/>
				<col width="50%"/>
			</colgroup>
			<tr>
				<td colspan="2" class="billTitle">
					<h3>카드승인전표 인터넷재발급용</h3>
					<h4>ZIOYOU CARD SYSTEM</h4>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="strCardNumb">
					<p class="fb">회원번호(CARD NO)</p>
					<p>9410190121608057</p>
				</td>
			</tr>
			<tr>
				<th>
					<p>유효기간(Date)</p>
				</th>
				<td>
					<p class="fb">승인일시(DATE&TIME)</p>
					<p>2021-09-16 오전 8:42:07</p>
				</td>
			</tr>
			<tr>
				<th>
					<p>취소일자</p>
					<p>-</p>
				</th>
				<td>
					<p class="fb">거래유형(CLASS)</p>
					<p>
					국내&nbsp;일시불
					</p>
				</td>
			</tr>
			<tr>
				<th>
					<p>업종코드</p>
					<p></p>
				</th>
				<td>
					<p class="fb">과세구분</p>
					<p>
					일반과세자
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="num first">
					<p class="overLap">9094</p>
					<table>
						<tr>
							<td class="title"><p>판매금액</p></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="num">
					<table>
						<p class="overLap">906</p>
						<tr>
							<td class="title"><p>부가가치세</p></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="num">
					<table>
						<p class="overLap">10000</p>
						<tr>
							<td class="title"><p>합 계</p></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<th>
					<p>가맹점번호</p>

				</th>
				<td>
					<p class="fb">승인번호(APPROVAL NO.)</p>
					<p>49083455</p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p class="fb">가맹점명(MERCHANT NAME)</p>
					<p>이지바이동백점</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="address">
					<p class="fb">주소(ADDRESS)</p>
					<p>경기도 용인시 기흥구 동백3로11번길 8-1 ,101호(중동,제일프라자) </p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="fb">가맹점 전화번호</p>
					<p>031-287-9288</p>
				</td>
				<td>
					<p class="fb">사업자 등록번호</p>
					<p>1181900910</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="rSide"></div>
</div>

<script type="text/javascript" src="http://dev.zioyou.com/FlowErp/form/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="http://dev.zioyou.com/FlowErp/form/assets/js/bootstrap.min.js"></script>

</body>
</html>